<mat-card>
  <dynamic-button
    label="Texto del boton"
    [tooltip]="'tooltip del boton'"
    size="large"
    (btClick)="logev($event)"
  ></dynamic-button>

  <dynamic-form></dynamic-form>

  <img
    width="500"
    id="imageBackground1"
    [src]="defaultImage"
    alt=""
    style="margin: auto; width: 100px; border-radius: 20px"
  />

  <img
    width="500"
    id="imageBackground"
    [src]="defaultImage"
    alt=""
    style="display: block; visibility: hidden; position: fixed; z-index: -10000"
  />
  <form action="#">
    <input type="file" id="imgfile" (change)="setImage($event)" />
  </form>
</mat-card>

<div class="mdc-card">
  <div class="mdc-card__primary-action" tabindex="0">
    <!-- content within actionable area -->
    <div class="mdc-card__ripple"></div>
  </div>
  <!-- ... content ... -->
</div>
