<!-- <mat-form-field appearance="outline">
  <mat-label>Input</mat-label>
  <input matInput />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field>

<label>
  alv
  <md-slider valueStart="0" valueEnd="10" labeled> </md-slider>
</label>
 -->

<!-- <control-checkbox
  label="Texto del boton"
  tooltip="tooltip del boton"
  [disabled]="false"
>
</control-checkbox> -->

<form
  #form="ngForm"
  [formGroup]="formGroup"
  [autocomplete]="autoComplete ? 'on' : 'off'"
>
  <ng-container
    *ngIf="_baseControls && formGroup.controls && _baseControls.length"
  >
    1
    <ng-container *ngFor="let _baseControl of _baseControls">
      2
      <ng-container *ngIf="_baseControl && _baseControl.type">
        3
        <ng-container
          *ngIf="
            _baseControl.key && formGroup.get(_baseControl.key.trim() || '')
          "
          [ngSwitch]="_baseControl.type"
        >
          5
          <div
            [hidden]="_baseControl.hidden"
            [ngClass]="
              'col-xxl-' +
              (_baseControl.col?.xxl || '12') +
              (' col-xl-' + (_baseControl.col?.xl || '12')) +
              (' col-lg-' + (_baseControl.col?.lg || '12')) +
              (' col-md-' + (_baseControl.col?.md || '12')) +
              (' col-sm-' + (_baseControl.col?.sm || '12')) +
              (' col-xs-' + (_baseControl.col?.xs || '12'))
            "
          >
            <ng-container *ngSwitchCase="'Switch'">
              <control-switch
                label="Texto del boton"
                tooltip="tooltip del boton"
                [disabled]="false"
                [_formControl]="
                  abstractControlToFormControl(
                    formGroup.get(_baseControl.key.trim() || '')
                  )
                "
                [baseControl]="_baseControl"
              ></control-switch>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</form>
