<label
  class="click-label"
  matRipple
  [matRippleColor]="'primary'"
  [matTooltip]="tooltip"
  [matTooltipPosition]="tooltipPosition"
  [matTooltipClass]="tooltipClass"
  [attr.disabled]="disabled || null"
  [class.disabled]="disabled || null"
>
  <span> {{ label }}</span>
  <mat-slide-toggle
    class="click-control"
    color="primary"
    [formControl]="_formControl"
    [selected]="_formControl.value"
    [attr.disabled]="disabled || null"
    [class.disabled]="disabled || null"
  >
  </mat-slide-toggle>
</label>
